#users-show {

  #sidebar {

    .bubbles {
      margin: 40px 0 0 10px;
    }
    .industry,
    .location {
      .bubble {
        @include border-radius(1000px);
        display: table-cell;
        vertical-align: middle;
        border: 2px solid $body-bg-color;
        font-weight: bold;
        font-size: 20px;
        cursor: default;
        color: $body-bg-color;
        text-align: center;
        line-height: 25px;
      }
    }
    .industry {
      margin: 0 0 -40px 70px;
      position: relative;
      z-index: 50;

      .bubble {
        background: $blue;
        width: 120px;
        height: 120px;
        padding: 10px;
      }
    }
    .location {
      margin: 0;
      .bubble {
        background: $green;
        width: 200px;
        height: 200px;
        padding: 15px;
      }
    }
  }

  .user-header {
    color: #FFF;
    background: #777;
    background-image: image-url('squaresBG.png');
    padding: 25px;
    margin: 0 0 20px;

    h1 {
      font-size: 36px;
      color: #FFF;
      margin: -3px 0 0 0;
      padding: 0;
      font-weight: normal;
    }
    .status {
      font-size: 22px;
      margin: 5px 0 0 0;
    }
  }

  .user-content {
    position: relative;
    h3 {
      color: #333;
    }
    div {
      font-size: 20px;
      color: #333;
      line-height: 22px;
    }
    .empty {
      font-size: 16px;
      color: #666;
      font-style: italic;
    }
    >.edit-bar {
      position: absolute;
      right: 25px;
      top: 21px;
    }
    .section {
      margin: 0 0 20px;
      padding: 5px 25px;
    }
    .dream-job {
      h3 {
        margin-bottom: 34px;
      }
      >div {
        margin-bottom: 10px;
      }
    }
    .positions {
      position: relative;
      .edit-bar {
        position: absolute;
        right: 25px;
        top: 19px;
        font-size: 16px;
        color: #DDD;

      }
      .position {
        padding: 20px 0;
        border-bottom: 1px solid #DDD;
        position: relative;
        .description {
          margin-bottom: 8px;
        }
        .time,
        .current {
          font-size: 16px;
          color: #999;
        }
        .edit-bar {
          bottom: 20px;
          top: auto;
          right: 0;
          margin: 0;
        }
      }
    }
  }
}

.devise-screen {
  padding: 50px 0 20px;
  #main-container {
    @include box-shadow(rgba(0, 0, 0, 0.20) 0 1px 2px);
    background: #FFF;
    width: 500px;
    margin: 0 auto;
    padding: 10px 30px 30px;
    form {
      input {
        width: 100%;
        margin-bottom: 20px;
      }
      .checkbox-group {
        @include clearfix();
        input {
          width: auto;
          float: left;
          margin-right: 10px;
        }
        label {
          margin-bottom: 20px;
        }
      }
      .button {
        width: auto;
      }
    }
    #devise-links {
      >a {
        display: inline-block;
        padding-right: 20px;
      }
    }
  }
}

.edit_user {
  .checkboxes {
    margin: 10px 0;
  }
  .input,
  .checkboxes {
    margin-bottom: 15px;
  }
}